@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  overflow-x: hidden;
}

.swiper {
  margin-right: calc(-5% - 5px)!important;
}

.swiper-button {
  display: flex;
  position: absolute;
  top: 0;
  padding-top: 15px;
  z-index: 10;
  cursor: pointer;
}

.swiper-btn-prev {
  left:0;
  padding-left: calc(2.5% - 1rem);
  height: calc(100% + 15px);
}

.swiper-btn-next {
  right: 0;
  padding-right: calc(2.5% - 1rem);
  height: calc(100% + 15px);
}

.swiper-btn-disabled {
  opacity: 0.5;
  pointer-events: none;
}

@media screen and (max-width: 720px) {
  .swiper-button {
    padding-top: 10px;
  }
  
  .swiper-btn-prev {
    padding-left: 2.5%;
    height: calc(100% + 10px);
  }
  
  .swiper-btn-next {
    padding-right: 2.5%;
    height: calc(100% + 10px);
  }
}