@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  overflow-x: hidden;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.swiper {
  margin-right: calc(-5% - 5px)!important;
}

.swiper-button {
  display: flex;
  position: absolute;
  top: 0;
  padding-top: 15px;
  z-index: 10;
  cursor: pointer;
}

.swiper-btn-prev {
  left:0;
  padding-left: calc(2.5% - 1rem);
  height: calc(100% + 15px);
}

.swiper-btn-next {
  right: 0;
  padding-right: calc(2.5% - 1rem);
  height: calc(100% + 15px);
}

.swiper-btn-disabled {
  opacity: 0.5;
  pointer-events: none;
}

@media screen and (max-width: 720px) {
  .swiper-button {
    padding-top: 10px;
  }
  
  .swiper-btn-prev {
    padding-left: 2.5%;
    height: calc(100% + 10px);
  }
  
  .swiper-btn-next {
    padding-right: 2.5%;
    height: calc(100% + 10px);
  }
}